.sprite {
  background-image: linear-gradient(transparent, transparent),
    url(https://www.wikipedia.org/portal/wikipedia.org/assets/img/sprite-e99844f6.svg);
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle;
}
.svg-search-icon {
  background-position: 0 -697px;
  width: 22px;
  height: 22px;
}
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 62.5%;
}
body {
  margin: 0;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
strong {
  font-weight: 700;
}
h1 {
  font-size: 32px;
  font-size: 3.2rem;
  margin: 1.2rem 0;
}
small {
  font-size: 13px;
  font-size: 1.3rem;
}
hr {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
button,
input {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button {
  text-transform: none;
}
button {
  -webkit-appearance: button;
  cursor: pointer;
}
input {
  line-height: normal;
}
input[type="search"],
input[type="password"] {
  -webkit-appearance: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"],
input[type="password"]:focus {
  outline-offset: -2px;
}
fieldset {
  border: 1px solid #a2a9b1;
  margin: 0 0.2rem;
  padding: 0.6rem 1rem 1.2rem;
}
.screen-reader-text {
  display: block;
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
}
body {
  background-color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Lato,
    Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.5;
  margin: 0.4rem 0 1.6rem;
}
a {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}
a,
a:active,
a:focus {
  unicode-bidi: embed;
  outline: 0;
  color: #36c;
  text-decoration: none;
}
a:focus {
  outline: 1px solid #36c;
}
a:hover {
  text-decoration: underline;
}
img {
  vertical-align: middle;
}
hr,
img {
  border: 0;
}
hr {
  clear: both;
  height: 0;
  border-bottom: 1px solid #c8ccd1;
  margin: 0.26rem 1.3rem;
}
.pure-button {
  display: inline-block;
  zoom: 1;
  line-height: normal;
  white-space: nowrap;
  text-align: center;
  cursor: pointer;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #f8f9fa;
  color: #202122;
  position: relative;
  min-height: 19.2px;
  min-height: 1.92rem;
  min-width: 16px;
  min-width: 1.6rem;
  margin: 0.16rem 0;
  border: 1px solid #a2a9b1;
  -moz-border-radius: 2px;
  border-radius: 2px;
  padding: 0.8rem 1.6rem;
  font-family: inherit;
  font-size: inherit;
  font-weight: 700;
  text-decoration: none;
  vertical-align: top;
  -webkit-transition: background 0.1s ease, color 0.1s ease,
    border-color 0.1s ease, -webkit-box-shadow 0.1s ease;
  transition: background 0.1s ease, color 0.1s ease, border-color 0.1s ease,
    -webkit-box-shadow 0.1s ease;
  -o-transition: background 0.1s ease, color 0.1s ease, border-color 0.1s ease,
    box-shadow 0.1s ease;
  -moz-transition: background 0.1s ease, color 0.1s ease, border-color 0.1s ease,
    box-shadow 0.1s ease, -moz-box-shadow 0.1s ease;
  transition: background 0.1s ease, color 0.1s ease, border-color 0.1s ease,
    box-shadow 0.1s ease;
  transition: background 0.1s ease, color 0.1s ease, border-color 0.1s ease,
    box-shadow 0.1s ease, -webkit-box-shadow 0.1s ease,
    -moz-box-shadow 0.1s ease;
}
.pure-button:hover {
  background-color: #fff;
  border-color: #a2a9b1;
  color: #404244;
}
.pure-button:active {
  background-color: #c8ccd1;
  border-color: #72777d;
  color: #000;
}
.pure-button:focus {
  outline: 0;
  border-color: #36c;
  -webkit-box-shadow: inset 0 0 0 1px #36c;
  -moz-box-shadow: inset 0 0 0 1px #36c;
  box-shadow: inset 0 0 0 1px #36c;
}
.pure-button-primary-progressive {
  background-color: #36c;
  border-color: #36c;
  color: #fff;
}
.pure-button-primary-progressive:hover {
  background: #447ff5;
  border-color: #447ff5;
}
.pure-button-primary-progressive:active {
  background-color: #2a4b8d;
  border-color: #2a4b8d;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: #fff;
}
.pure-button-primary-progressive:focus {
  -webkit-box-shadow: inset 0 0 0 1px #36c, inset 0 0 0 2px #fff;
  -moz-box-shadow: inset 0 0 0 1px #36c, inset 0 0 0 2px #fff;
  box-shadow: inset 0 0 0 1px #36c, inset 0 0 0 2px #fff;
  border-color: #36c;
}
.pure-form input[type="search"],
input[type="password"] {
  background-color: #fff;
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #a2a9b1;
  -moz-border-radius: 2px;
  border-radius: 2px;
  padding: 0.8rem;
  -webkit-box-shadow: inset 0 0 0 1px #fff;
  -moz-box-shadow: inset 0 0 0 1px #fff;
  box-shadow: inset 0 0 0 1px #fff;
  vertical-align: middle;
}
.pure-form input:focus:invalid {
  color: #b32424;
  border-color: #d33;
}
.pure-form fieldset {
  margin: 0;
  padding: 0.56rem 0 1.2rem;
  border: 0;
}
@media only screen and (max-width: 480px) {
  .pure-form input[type="search"],
  input[type="password"] {
    display: block;
  }
}
.central-textlogo-wrapper {
  display: inline-block;
  vertical-align: bottom;
}
.central-textlogo {
  position: relative;
  margin: 4rem auto 0.5rem;
  width: 270px;
  font-family: Linux Libertine, Hoefler Text, Georgia, Times New Roman, Times,
    serif;
  font-size: 30px;
  font-size: 3rem;
  font-weight: 400;
  line-height: 33px;
  line-height: 3.3rem;
  text-align: center;
  -moz-font-feature-settings: "ss05=1";
  -moz-font-feature-settings: "ss05";
  -webkit-font-feature-settings: "ss05";
  -ms-font-feature-settings: "ss05";
  font-feature-settings: "ss05";
}
.localized-slogan {
  display: block;
  font-family: Linux Libertine, Georgia, Times, serif;
  font-size: 15px;
  font-size: 1.5rem;
  font-weight: 400;
}
.central-featured-logo {
  position: absolute;
  top: 158px;
  left: 35px;
}
@media (max-width: 480px) {
  .central-textlogo {
    position: relative;
    height: 70px;
    width: auto;
    margin: 2rem 0 0;
    text-align: center;
    line-height: 25px;
    line-height: 2.5rem;
    text-indent: -10px;
    text-indent: -1rem;
    font-size: 1em;
  }
  .central-textlogo-wrapper {
    position: relative;
    top: 12px;
    text-indent: 2px;
    text-indent: 0.2rem;
  }
  .localized-slogan {
    font-size: 14px;
    font-size: 1.4rem;
  }
  .central-featured-logo {
    position: relative;
    display: inline-block;
    width: 57px;
    height: auto;
    left: 0;
    top: 0;
  }
}
.search-container {
  float: none;
  max-width: 95%;
  width: 540px;
  margin: 0.4rem auto 1.95rem;
  text-align: center;
  vertical-align: middle;
}
.search-container fieldset {
  word-spacing: -4px;
}
.search-container button {
  min-height: 44px;
  min-height: 4.4rem;
  margin: 0;
  -moz-border-radius: 0 2px 2px 0;
  border-radius: 0 2px 2px 0;
  padding: 0.8rem 1.6rem;
  font-size: 16px;
  font-size: 1.6rem;
  z-index: 2;
}
.search-container button .svg-search-icon {
  text-indent: -9999px;
}
#shareURL,
#searchInput {
  -webkit-appearance: none;
  width: 100%;
  height: 44px;
  height: 4.4rem;
  border-width: 1px 0 1px 1px;
  -moz-border-radius: 2px 0 0 2px;
  border-radius: 2px 0 0 2px;
  padding: 0.8rem 9.6rem 0.8rem 1.2rem;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.6;
  -webkit-transition: background 0.1s ease, border-color 0.1s ease,
    -webkit-box-shadow 0.1s ease;
  transition: background 0.1s ease, border-color 0.1s ease,
    -webkit-box-shadow 0.1s ease;
  -o-transition: background 0.1s ease, border-color 0.1s ease,
    box-shadow 0.1s ease;
  -moz-transition: background 0.1s ease, border-color 0.1s ease,
    box-shadow 0.1s ease, -moz-box-shadow 0.1s ease;
  transition: background 0.1s ease, border-color 0.1s ease, box-shadow 0.1s ease;
  transition: background 0.1s ease, border-color 0.1s ease, box-shadow 0.1s ease,
    -webkit-box-shadow 0.1s ease, -moz-box-shadow 0.1s ease;
}
#searchInput:hover {
  border-color: #72777d;
}
#searchInput:focus {
  border-color: #36c;
  -webkit-box-shadow: inset 0 0 0 1px #36c;
  -moz-box-shadow: inset 0 0 0 1px #36c;
  box-shadow: inset 0 0 0 1px #36c;
  outline: 0;
}
.search-container .search-input {
  display: inline-block;
  position: relative;
  width: 73%;
  vertical-align: top;
}
@media only screen and (max-width: 480px) {
  .search-container .pure-form fieldset {
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 6.6rem;
  }
  .search-container .search-input {
    width: 100%;
    margin-right: -6.6rem;
  }
  .search-container .pure-form button {
    float: right;
    right: -56px;
    right: -5.6rem;
  }
}
.site-license {
  color: #54595d;
  text-align: center;
}
.site-license small:after {
  content: "\2022";
  display: inline-block;
  font-size: 13px;
  font-size: 1.3rem;
  line-height: inherit;
  margin-left: 0.8rem;
  margin-right: 0.5rem;
}
.site-license small:last-child:after {
  display: none;
}
@media (max-width: 480px) {
  .search-container {
    margin-top: 0;
    height: 78px;
    height: 7.8rem;
    position: absolute;
    top: 96px;
    top: 9.6rem;
    left: 0;
    right: 0;
    max-width: 100%;
    width: auto;
    padding: 0;
    text-align: left;
  }
  .search-container label {
    display: none;
  }
  form fieldset {
    margin: 0;
    border-left: 0;
    border-right: 0;
  }
  hr {
    margin-top: 0.65rem;
  }
}
@media (-o-min-device-pixel-ratio: 2/1),
  (-webkit-min-device-pixel-ratio: 2),
  (min--moz-device-pixel-ratio: 2),
  (min-resolution: 2dppx),
  (min-resolution: 192dpi) {
  hr {
    border-bottom-width: 0.5px;
  }
}
@media print {
  body {
    background-color: transparent;
  }
  a {
    color: #000 !important;
    background: none !important;
    padding: 0 !important;
  }
  a:link,
  a:visited {
    color: #520;
    background: transparent;
  }
  img {
    border: 0;
  }
}
.wkgpt-logo {
  font-size: 42px;
}
.wkgpt-description {
  width: 100%;
  text-align: center;
}
.wkgpt-search-results-row {
  display: table;
  width: 100%;
  table-layout: fixed;
  border-spacing: 10px;
  height: 360px;
}
.wkgpt-search-results-column {
  display: table-cell;
}
.wkgpt-search-results-middle-column {
  width: 60%;
  text-align: justify;
  color: #202122;
  font-family: sans-serif;
}
@media only screen and (max-width: 600px) {
  .wkgpt-search-results-middle-column {
    width: 80%;
  }
}
.wkgpt-search-query,
.wkgpt-explainability-details {
  display: block;
  text-align: center;
  font-family: sans-serif;
}
.wkgpt-explainability-details p,
.wkgpt-explainability-details blockquote {
  text-align: left;
}
.wkgpt-login-log {
  top: 178px;
}
.wkgpt-login-button {
  background-image: linear-gradient(transparent, transparent),
    url(../images/login-button.png);
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle;
  background-position: 0;
}
.wkgpt-search-results-row-login {
  height: 330px; /*TBD*/
}
.search-container .pure-form fieldset {
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 6.6rem;
}

.wkgpt-copy-icon {
  background-image: linear-gradient(transparent, transparent),
    url(../images/copy-button.png);
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle;
  background-position: 0;
}

.wkgpt-copy-button {
  background-color: #c9c9c9;
  border-color: #c9c9c9;
  color: #fff;
}

.wkgpt-copy-button:hover {
  background: #565656;
  border-color: #565656;
}

#shareURL {
  background-color: #f0f0f0;
}

#shareURL:focus {
  border-color: #c9c9c9;
  -webkit-box-shadow: inset 0 0 0 1px #c9c9c9;
  -moz-box-shadow: inset 0 0 0 1px #c9c9c9;
  box-shadow: inset 0 0 0 1px #c9c9c9;
  outline: 0;
}

.bq2 {
  white-space: pre-wrap;
}

@media only screen and (max-width: 480px) {
  .search-url-container {
    margin-top: 0;
    height: 78px;
    height: 7.8rem;
    position: static;
    max-width: 100%;
    width: auto;
    padding: 0;
    text-align: left;
  }
}
