<!doctype html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8" />
    <title>WikiGPT</title>
    <meta
      name="description"
      content="Natural Language Search Results Based on Wikipedia Knowledge and ChatGPT"
    />
    <meta name="viewport" content="initial-scale=1,user-scalable=yes" />
    <link rel="apple-touch-icon" href="/static/apple-touch/wikipedia.png" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <script src="../static/js/no-browser-back.js"></script>
  </head>
  <body id="www-wikipedia-org">
    <div class="central-textlogo">
      <img
        class="central-featured-logo wkgpt-login-log"
        src="../static/images/glyph-people-large.png"
        alt="Wikipedia"
      />
    </div>
    <h1 class="central-textlogo-wrapper wkgpt-description">
      <span class="jsl10n localized-slogan wkgpt-logo">
        Welcome to WikiGPT!
      </span>
    </h1>
    {% if wrong_pwd is defined %}
    <strong
      class="jsl10n localized-slogan wkgpt-description"
      data-jsl10n="portal.slogan"
      >{{wrong_pwd}}</strong
    >
    {% else %}
    <strong
      class="jsl10n localized-slogan wkgpt-description"
      data-jsl10n="portal.slogan"
      >This project is still under the experimentation phase. Please enter
      password to access.</strong
    >
    {% endif %}

    <div class="search-container">
      <form
        class="pure-form"
        id="search-form"
        data-el-section="search"
        action="/"
        method="POST"
      >
        <fieldset class="wkgpt-login-fieldset">
          <div class="search-input" id="search-input">
            <label
              for="searchInput"
              class="screen-reader-text"
              data-jsl10n="portal.search-input-label"
              >Search WikiGPT</label
            >
            <input
              id="searchInput"
              name="login"
              type="password"
              size="20"
              autofocus="autofocus"
              accesskey="F"
              dir="auto"
              autocomplete="off"
              required
            />
          </div>
          <button
            class="pure-button pure-button-primary-progressive"
            type="submit"
          >
            <i
              class="sprite svg-search-icon wkgpt-login-button"
              data-jsl10n="search-input-button"
              >Login</i
            >
          </button>
        </fieldset>
      </form>
    </div>

    <div class="wkgpt-search-results-row wkgpt-search-results-row-login">
      <div class="wkgpt-search-results-column"></div>
      <div
        class="wkgpt-search-results-column wkgpt-search-results-middle-column"
      ></div>
      <div class="wkgpt-search-results-column"></div>
    </div>

    <hr />
    <p class="site-license">
      <small class="jsl10n" data-jsl10n="license">
        This prototype is developed by the
        <a
          href="https://www.mediawiki.org/wiki/Machine_Learning"
          target="_blank"
          >Wikimedia Foundation Machine Learning Team</a
        >
      </small>
    </p>
  </body>
</html>
